<%
require 'pathname'

BASE = (Pathname.new(__FILE__).dirname + '..').expand_path

def script(path, show_in_coverage=false)
  jspath = (BASE + path).relative_path_from(BASE)
  jspath = jspath.sub(/^app/, 'coverage') if show_in_coverage
  '<script type="text/javascript" charset="utf-8" src="/' + jspath + '"></script>'
end

def scripts_for_glob(pattern, show_in_coverage=false)
  out = []
  Dir.glob(BASE + pattern).each { |f| out << script(f, show_in_coverage) }
  out.join("\n")
end
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Microfacts Specs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style/jsspec.css" />
    <script type="text/javascript" charset="utf-8" src="/vendor/mootools-trunk-1515.js"></script>
    <script type="text/javascript" charset="utf-8" src="/vendor/ejs.js"></script>
    <%= scripts_for_glob("app/**/*.js", true) %>
    <script type="text/javascript" charset="utf-8" src="/assets/behaviour/jsspec.js"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/behaviour/diff_match_patch.js"></script>
    <%= scripts_for_glob("spec/**/*_spec.js") %>
</head>
<body>
</body>
</html>